body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.inputStyle {
  padding: 16px;
  margin-bottom: 32px;
}

.cardStyle {
  height: 225px;
  width: 200px;
}

.detailsTitle {
  padding-left: 10px;
}

.detailsPicStyle {
  width: 95%;
  padding: 20px;
}

.detailsStyle {
  width: 95%;
}

.add2Cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  width: 150px;
}

.padding10 {
  padding: 10px;
}
